/* Website template by freewebsitetemplates.com */
html {
	font-family: 'Trebuchet MS', sans-serif, Arial, Helvitica;
}
body {
	background: linear-gradient(to bottom,  #fbfac4 0%,#fdd7aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	margin: 0;
}

#page {
	background:linear-gradient(to bottom,  #fbfac4 0%,#fdd7aa 100%);
	width: 100%;
	margin-bottom: 0;
	margin: auto;
	padding-top: 20px;
}
#pagesorter{
	display: block;
	width: 75%;
	margin-bottom: 0;
	margin: auto;
}
@font-face {
	font-family: Montserrat; src: url('Montserrat-Regular.ttf'); 
}
img {
	border: 0;
}

h2{
	color: #7D484D;
}

#smallpara{
	display: block;
	margin: auto;
	padding: 0;
	width: 100%;
	float: left;
}


/*------------------------------ HEADER ------------------------------*/
#header {
	display: block;
	height: 216px;
	margin: auto;
	background: url(../images/ssglogo.png) no-repeat center top;
	padding: 20px;
}


#connect {
	float: left;
	display: inline-block;
	height: 30px;
	width: 300px;
	margin: 15px 0 15px 10px;
}
#connect a {
	display: inline-block;
	height: 30px;
	margin: 0 10px;
	padding: 0;
}
#connect .facebook {
	background-position: 0 2px;
	width: 27px;
}
#connect .twitter {
	background-position: 0 -36px;
	width: 36px;
}
#connect .vimeo {
	background-position: 0 -74px;
	width: 32px;
}

#infos {
	float: right;
	color: #635320;
	display: inline-block;
	height: 30px;
	width: 200px;
	margin: 15px 0;
}
#infos  a {
	color: #635320;
	font-family: Arial;
	font-size: 14px;
	line-height: 30px;
	margin: 0 5px;
	text-decoration: none;
}



/** Navigation **/
nav {
	position: relative;
	height: 40px;
	padding: 0;
	width: 100%;
	list-style:none;
	text-align: center;
}

nav ul{
	
	display: inline-block;
	margin: auto;
	padding: 0;
}
nav ul li {
	display: inline-block;
	font-family: 'Montserrat';
	font-size: 22px;
	font-weight: bold;
	line-height: 40px;
	width: 180px;
	text-align: center;
	padding: 0;
	list-style:none;

}

nav ul la {
	display: inline-block;
	font-family: 'Montserrat';
	font-size: 22px;
	font-weight: bold;
	line-height: 40px;
	width: 180px;
	text-align: center;
	padding: 0;
	list-style:none;

}
nav ul li a {
	color: #9d7912;
	text-decoration: none;
}
nav ul li a:hover {
	color: #f9f9f5;
	text-shadow: 1px 1px 0 #a8840b;
}

nav ul la a{
	display: block;
	color: #9d7912;
	text-decoration: none;
	transform: rotate(7deg);
}

nav ul la a:hover{	
	color: #f9f9f5;
	text-shadow: 1px 1px 0 #a8840b;
	transform: rotate(0deg);
}

#thirdspacer{
	
	display: block;
	height: 66px;
	width: 50%;
	margin: auto;
	text-align: left;
}

#spacerleft{
	display: block;
	height: 200px;
	width: 100%;
	margin: auto;
	text-align: left;
	float: left;
}

#spacer{
	display: block;
	height: 200px;
	width: 50%;
	margin: auto;
	padding: 50px;
	text-align: center;
}

/*------------------------------ FOOTER ------------------------------*/
#footer {
	display:block;
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 0 5px;
}
#description {

}
#description div {
	float: left;
	width: 180px;
	margin-right: 50px;
}
#description div a.logo {
	display: block;
	height: 30px;
	width: 175px;
	margin: 0 0 10px;
}
#description div span {
	color: #9d7912;
	display: block;
	font-size: 11px;
	line-height: 20px;
}
#description div span a {
	color: #9d7912;
	text-decoration: none;
}
#description p {
	color: #9d7912;
	font-size: 13px;
	line-height: 20px;
	margin: 20px 0;
	text-align: justify;
}
#description p a {
	color: #9d7912;
}

#footer div.navigation {
	color: #ffffff;
	font-size: 14px;
	line-height: 20px;
	width: 400px;
	margin: 0 auto 20px;
	text-shadow: 0 1px 0 #af9e31;
}
#footer div.navigation a {
	color: #ffffff;
	padding: 0 15px;
	text-decoration: none;
	text-shadow: 1px 1px 0 #af9e31;
}
#footer div.navigation a:hover {
	color: #9d7912;
}


#soupbarbottom{
	height: 50px;
	width: 100%;
	background: url(../images/soursoup.png) 0px 0px/356px 50px repeat-x;
}


/*------------------------------ OTHER STUFF ------------------------------*/

.arrowSeperator {
	display: block;
	text-align: center;
	border: 1px solid #755a0b;
	width: 100%;
	height: 0;
	position: relative;
}

.arrowSeperator:before{
	content:'';
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent; // this is the length of the side of the arrow
	border-right: 15px solid transparent; // this is the length of the side of the arrow
	border-bottom: 15px solid #755a0b; // set to same color as the line, this is the height of the arrow
	position: absolute;
	bottom: 100%;
	left: 50%; // used to center arrow
	right: 50%; // used to center arrow
	margin: 0 -15px; // left & right offset need to match the width of the arrow to center arrow
	z-index:1;
}

// this arrow lays over the other arrow 
// offset slightly to show a line
.arrowSeperator:after{
	content:'';
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent; // this is the length of the side of the arrow
	border-right: 15px solid transparent; // this is the length of the side of the arrow
	border-bottom: 15px solid #fff; // set to color of background, this is the height of the arrow
	position: absolute;
	bottom: 100%;
	left: 50%; // used to center arrow
	right: 50%; // used to center arrow
	margin: 0 -15px -2px -15px;	// left & right offset need to match the width of the arrow to center arrow
	z-index: 2;
}

.charHeader1{
	font-size: 24px;
	width: 160px;
}

.charHeader2{
	font-size: 32px;
	width: 32px;
}

.characterBox{
	display:inline-block;
}

.characterBoxes{
	width: 160px;
	padding: 20px;
	float:left;
	text-align: center;
}

.FlexEmbed {
  display: block;
  overflow: hidden;
  position: relative;
}

.FlexEmbed:before {
  content: "";
  display: block;
  width: 100%;
}

.FlexEmbed--3by1:before {
  padding-bottom: 33.33333%;
}

.FlexEmbed--2by1:before {
  padding-bottom: 50%;
}

.FlexEmbed--16by9:before {
  padding-bottom: 56.25%;
}

.FlexEmbed--4by3:before {
  padding-bottom: 75%;
}

.CoverImage {
  background-image: url(../images/ssglogo.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 1em;
  max-height: 217px;
  max-width: 931px;
}

<<<<<<< HEAD
=======
.arrowSeperator {
	display: block;
	text-align: center;
	border: 1px solid #755a0b;
	width: 100%;
	height: 0;
	position: relative;
}

.arrowSeperator:before{
	content:'';
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent; // this is the length of the side of the arrow
	border-right: 15px solid transparent; // this is the length of the side of the arrow
	border-bottom: 15px solid #755a0b; // set to same color as the line, this is the height of the arrow
	position: absolute;
	bottom: 100%;
	left: 50%; // used to center arrow
	right: 50%; // used to center arrow
	margin: 0 -15px; // left & right offset need to match the width of the arrow to center arrow
	z-index:1;
}

// this arrow lays over the other arrow 
// offset slightly to show a line
.arrowSeperator:after{
	content:'';
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent; // this is the length of the side of the arrow
	border-right: 15px solid transparent; // this is the length of the side of the arrow
	border-bottom: 15px solid #fff; // set to color of background, this is the height of the arrow
	position: absolute;
	bottom: 100%;
	left: 50%; // used to center arrow
	right: 50%; // used to center arrow
	margin: 0 -15px -2px -15px;	// left & right offset need to match the width of the arrow to center arrow
	z-index: 2;
}

>>>>>>> origin/master

